body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    background-image: url(golden-cutlery-with-textile-plate-dark-background-top-view_1220-6580.avif);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #a0b6bf;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  input, select, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .order-btn, .payment-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 20px 20px 20px 20px;
    text-align: center;
    margin: 3%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .order-btn:hover, .payment-btn:hover {
    background-color: #45a049;
  }
  